{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <span class="course-title">
            <h2>CISC 235</h2>
            </span>
    </div>


    <div class="attendance-tab">
        <input type="submit" value="ATTENDANCE" id="attendance-submit">
    </div>

    <div class="assignments-tab">
        <input type="submit" value="ASSIGNMENTS" id="assignments-submit">
    </div>

    <div class="tests-tab">
        <input type="submit" value="TESTS" id="tests-submit">
    </div>

    <div class="breakdown-tab">
        <input type="submit" value="BREAKDOWN" id="breakdown-submit">
    </div>    


    <div class="big-tab"></div>
</body>

<!-- yeet -->

{% endblock %}