<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/styles/home.css">
</head>

<body>
    <div class="topnav">
        <h1>QScores</h1>
    </div>
    <div class="main-container">
        <div>
            <h2>A new way for Queen's students to stay on top of classes</h3>
        </div>
        <div class="card-container">
            <div class="card colour1">
                <p>Gain points for completing school work!</p>
            </div>
            <div class="card colour2">
                <p>Manage classes with ease!</p>
            </div>
            <div class="card colour3">
                <p>See how your classmates are doing!</p>
            </div>
        </div>
        <div class="buttons">
            <button id="login">LOGIN</button>
            <button id="signup">SIGN UP</button>
        </div>
    </div>
    <footer></footer>
    <script src="../static/scripts/buttons.js"></script>
</body>

</html>