{% extends 'base.html' %}
{% block content %}
<div class="container">
    <span class="course-title">
        <h2>My classes</h2>
        <div class="semester">
            <label for="cars">Semester: </label>
            <select name="semesters" id="semesters">
                <option value="2020fall">2020 Fall</option>
                <option selected="selected" value="2021winter">2021 Winter</option>
            </select>
        </div>

    </span>

    <!--This for loop will render course codes/names to the page -->
    <div class="course-container">
        <ul class="course-list">
            {% for course in courses %}
            <li>
                <div class="course-card">
                    <h4>{{course.code}}</h4>
                    <h5>{{course.name}}</h5>
                </div>
                <br>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}