@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* ------------ GENERAL PAGE SETTINGS ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("../img/granthall3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/* ------------ HEADER BAR ------------ */
.topnav {
    background-color: #993333;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.topnav li h3 {
    float: right;
    margin-right: 20px;
    margin-top: 13px;
}

.topnav ul {
    list-style-type: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(94, 94, 94);
    color: rgb(255, 255, 255);
}

.form-container {
    width: 35%;
    margin: auto;
    height: 100%;
    margin-top: 100px;
    border-radius: 7px;
    padding-top: 200px;
}

.login-field {
    background-color:#ffffffff;
    font-size: 17px;
    margin-bottom: 20px;
    padding: 2%;
    border-radius: 4px;
    border:none;
    width: 50%;
}

.login-field:focus{
    outline: none;
}

#login-form {
    display: grid;
    align-self:flex-start;
    justify-items: center;
    align-items: center;
}

.login-label {
    color:white;
}

#login-submit {
    background-color: #e0b01f;
    font-size: 17px;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
    outline: none;
}

#login-submit:hover{
    background-color:#8d6c0a ;
    color:white;
}

.login-template {
    color:white;
}